*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #171717;
    min-height: 100vh;
    text-align: center;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
    /*Typography*/

.converter-numbers{
    color: #D2D2D2;
    font-size: 0.9rem;
}

.hero-num{
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 30%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 4pt;
    color: white;
}

.converter-title{
    font-size: 1.1rem;
    margin-bottom: 0;
}

.hero-desc{
    font-size: 1.3rem;
}

button{
    background-color: white;
    border: none;
    color: #3D3D3D;
    padding: 1em 3em;
    border-radius: 4pt;
    letter-spacing: 2px;
    font-weight: bold;
}


    /*Layout*/

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero, .converter{
    width: 70%;
    padding: 2em;
}

.hero{
    border-radius: 5pt 5pt 0pt 0pt;
    background-color: #6943FF;

}

.converter{
    background-color: #1F2937;
    border-radius: 0pt 0pt 5pt 5pt;
}

.unit{
    background-color: #273549;
    border-radius: 4pt;
    padding:1em;
    margin-top: 1em;
    width: 100%;
}


    /*Dark mode*/

.fas{
    position: relative;
    left: 50%;
    top: -20px;
}

i.fa-moon{
  display: none;
  color: #1F2937;
}

.animation{
    animation: switch 0.7s 1 ease-in-out alternate;
}

@keyframes switch {
    from{opacity: 0; transform: rotate(0deg);}
    to{opacity: 1; transform: rotate(360deg);}
}

.converter, 
.converter-numbers, 
.converter-title,
.unit{
    transition: all 0.7s ease;
}

.dark-mode{
    background-color: #1F2937;
}