body{
    background-color: #72A84A !important; 
}

.wrapper-helper{
    height: 100vh;
    display: grid;
    place-items: center;
}

.your-reservations{
    text-align: center;
    color: white;
}

.reserved{
    font-weight: bold;
}

i{
    font-size: 5rem;
}

@media (min-width:650px) {
    i{
        font-size: 5.5rem;
    }
}

@media (min-width:850px) {
    i{
        font-size: 7.5rem;
    }
}

@media (min-width:1050px) {
    i{
        font-size: 9.5rem;
    }
}