* { box-sizing: border-box; }

body {
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Consolas", monospace;
    background-color: #DBF3E3;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green-box {
    color: white;
}

/* typography */

h1 {
    font-size: 3.0625rem;
    color: #79BA8F;
}

p {
    line-height: 1.5;
}

.green-box h2 {
    font-size: 1.625rem;
}

.card {
    font-family: "Open Sans", sans-serif;
}

h2:first-of-type {
    margin-top: 0;
    font-size: 1.25rem;
}

.card p {
    margin-bottom: 0;
}

/* layout */

main, .light-green-box {
    display: grid;
}

.card, .green-box {
    display: flex;
}

main {
    grid-template-areas: 
        "card green-box rocket"
        "card green-box rocket"
        "card light-gr-box rocket"
        "blue-sky light-gr-box rocket";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 130px);
    max-width: 940px;
    max-height: 570px;
    margin: 0 auto;
    gap: 1em;
}

.card { 
    grid-area: card; 
    background-image: url('./Assets/space-picture.jpg');
    background-size: cover;    
}

.green-box {
    flex-direction: column;
    justify-content: space-around;
    grid-area: green-box; 
    padding: 42px 36px;   
    background-color: #33A559; 
}

.blue-sky { grid-area: blue-sky;}

.rocket { grid-area: rocket; }

.light-green-box {
    place-content: center;
    grid-area: light-gr-box; 
    background-color: #AFDDBE;
}

.text-container {
    background-color: white;
    align-self: flex-end;
    padding: 25px;
}
